<body>
  <div class="fluid-container">
  <div class="login-page">
    <div class="form bg-light" >
      <form id="login" class="login-form" [formGroup]="myForm">
        <input formControlName="email"  type="email" placeholder="email" maxlength="30" [(ngModel)]="email" name="email" #usr/>
        <input formControlName="password" type="password" placeholder="password" maxlength="20" [(ngModel)]="password" name="password" #pwd/>
        <div *ngIf="email">
              {{ myForm.value | json }}
        </div>
        <button (click)="validate(usr, pwd)">login</button>
        <p class="message">Not registered? <a routerLink="../join">Create an account</a></p>
      </form>
    </div>
  </div>
  </div>
  <footer class="text-center bg-dark text-danger " style="padding-bottom: 1px; font-style: italic"> &copy; 2019 webdev All Rights Reserved </footer>
  </body>