<div class="fluid-container c " >
  <div class="jumbotron c">
    <div class="row">
      <div class="col-lg-6 container">
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Courses</button>
        <hr>
        <div id="demo" class="collapse">
            <app-course></app-course>
        </div>
      </div>
      <div class="col-lg-6 container">
          <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#assignments">Assignments</button>
          <hr>
          <div id="assignments" class="collapse">
            <app-assignment></app-assignment>
          </div>
      </div>
    </div>
  </div>
  <footer class="text-center bg-dark text-danger font-italic "> &copy; 2019 webdev All Rights Reserved </footer>
</div>

