<body>
<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/images/bg2.jpg" alt="Los Angeles" width="1100" height="500">
      <div class="carousel-caption">
        <h3>No matter how busy you may think you are, you must find time for reading, or surrender yourself to self-chosen ignorance.</h3>
        <!-- <p>Once Upon A Time !</p> -->
      </div>   
    </div>
    <div class="carousel-item">
      <img src="../assets/images/bg2.jpeg" alt="Chicago" width="1100" height="500">
      <div class="carousel-caption">
        <h3>To acquire knowledge, one must study; but to acquire wisdom, one must observe.</h3>
        <!-- <p>The Two Thrones</p> -->
      </div>   
    </div>
    <div class="carousel-item">
      <img src="../assets/images/sk2.jpg" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Every beginner possesses a great potential to be an expert in his or her chosen field.</h3>
        <!-- <p>The Agent is back.. !</p> -->
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<footer class="text-center bg-dark text-danger font-italic "> &copy; 2019 webdev All Rights Reserved </footer>
</body>